/*
 * Styles
 * @Package: RVInventory
 */
.container{
  margin-top: 5px!important;
  margin-bottom: 5px!important;
}

.sub_header_menu {
  background:#107cac;
  padding:5px;
  margin-bottom: 50px;
}
.sub_header_menu .menu ul {
  margin:0 auto;
  padding:0;
  text-align: center;
  list-style: none;
}
.sub_header_menu .menu ul li {
  display: inline-block;
  vertical-align: top;
}
.sub_header_menu .menu ul li a {
  background: #ed2025!important;
  padding: 10px 30px;
  display: block;
  margin:4px 3px;
  text-transform: uppercase;
  color: #fff!important;
  font-size: 18px;
  transition: all 0.8s;
  line-height: 28px;
  font-family: var(--secondary-font-body);
  border-radius:100px;
}
.sub_header_menu .menu ul li a:hover{
  background: #da5555!important;
  color: #fff!important;
  text-decoration: none;
}
 .vehicle{
   background: #fff;
   margin: 25px auto !important;
   padding-bottom: 5px;
 }

.vehicle-title{
  background: #ed2025;
  color:#fff;
  padding:10px;
}

.vehicle-title ul{
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
}

.vehicle-title ul .phone{
  padding: 0 30px;
  font-weight: bold;
}
.vehicle-title ul .print{
  margin-top: 10px;
}
.vehicle-title ul li{
  display: inline-block;
  vertical-align: top;
}

.vehicle-title ul li i{
  display: inline-block;
  color: #fff!important;
  font-size: 28px;
  font-weight: bold;
}
.vehicle-title ul li a,.vehicle-title h3 a{
  color:#fff!important;
}

.vehicle-title ul li a:hover,.vehicle-title h3 a:hover{
  text-decoration: none;
}
.vehicle-title h3{
  font-size: 24px;
}
.vehicle-content{
  box-shadow: 0 5px 6px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 6px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 5px 6px 2px rgba(0, 0, 0, 0.15);
}
.dealer h4{
  padding: 20px 10px;
}
.dealer .btn, .dealer .btn:visited{
  margin-top: 20px;
  padding: 10px 20px;
  background: #ed2025;
  color: #fff;
}
.dealer .btn:hover{
  background:#da5555;
  color: #fff;
  text-decoration: none;
}

#inventory .phone a{
  font-size: 26px;
}

#inventory .print{
  cursor: pointer;
}

.slider{
  min-height:280px;
  margin:0;
  margin-top: 20px;
  padding: 0;
}

.slider img{
  max-width: 100%;
  margin:0 auto;
}

.pager{
  list-style: none;
}
.pager li{
  display: inline-block;
  vertical-align: top;
  margin-left:5px;
}
.pager img{
  width: 100px;
  height:80px;
}

#detialslider{
  min-height: 450px;
}

.moreinfo{
  font-size:28px;
}
.moreinfo a:hover{
  text-decoration: none;
  color:#ed2025;
}
.gallery{
  margin: 0;
  padding: 0;
  list-style: none;
}
.gallery li{
  display: inline-block;
  vertical-align: top;
  margin-left:20px;
}
.gallery img{
  max-width: 210px;
}

.contact{
  box-shadow: 0 0 1rem rgba(0,0,0,.175) !important;
}
.contact p{
  font-size: 16px;
}
.bx-wrapper{
  background:none;
  border:none;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  margin-bottom: 5px;
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  bottom: -60px;
}
.bx-viewport{
  height:auto!important;
}
.buttons{
  margin: 20px auto;
}
.fancybox-slide--iframe .fancybox-content {
  width  : 800px;
  height : 850px;
  max-width  : 80%;
  margin: 0;
}
.bg-grey{
  background: #ececec;
}
.hidden{
  display: none;
}
@media screen and (max-width:812px) {
    .pager img{
        width:50px;
        height:40px;
    }
    #detialslider{
      min-height:205px;
    }
    .sub_header_menu .menu ul li a {
      background: #ed2025!important;
      padding: 5px 5px;
      display: block;
      margin: 4px 2px;
      text-transform: uppercase;
      color: #fff;
      font-size: 12px;
      transition: all 0.8s;
      line-height: 28px;
      font-family: var(--secondary-font-body);
      border-radius: 100px;
  }
  .dealer h4{
      padding: 10px 10px;
      font-weight: bold;
      font-size: 2rem;
  }
  .vehicle .phone, .vehicle .print{
    display: none;
  }
  .vehicle h3{
    text-align: center;
    font-weight: bold;
  }
}